*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    background-image: url('img/pexels-pixabay-235990.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    color:lightgreen;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.max-width{
    margin: auto 0 auto 40px;
}
.container .text-1{
    font-size: 60px ;
    font-weight: 600;
}
.container .text-2{
    font-size: 40px ;
    font-weight: 450;
    margin-left: -3px;
}
.container .text-3{
    font-size: 30px ;
    font-weight: 400;
}
.button{
    margin: 0px 0px 0px 200px;
    border-radius: 5px;
    color: yellow;

}
.max-width .submit{
    margin: 0px 0px 0px 220px;
    width: 100px;
    height: 30px;
}